scripts/hotel-prices-workflow.json
{
  "name": "Hotel Price Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-prices",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "=node google-hotels-scraper.mjs --city \"{{ $json.body.city || 'Milan' }}\" --checkin \"{{ $json.body.checkin }}\" --checkout \"{{ $json.body.checkout }}\" --hotels \"{{ $json.body.hotels || '' }}\"",
        "timeout": 180
      },
      "id": "execute-scraper",
      "name": "Run Scraper",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scraper": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
